* {
    outline: red 1px dotted;
}


/* .logo {
    margin: auto;
    width: 50%;
  } */


/* Nav Menu */
/* -------------------------------------------------------- */
.headerNav {
    display: flex;

}
#topNav {
    display: flex;
    list-style: none;
    
    justify-content: space-between;
}

