* {
    outline: red 1px dotted;
}


/* .logo {
    margin: auto;
    width: 50%;
  } */


/* Nav Menu */
/* ---------------------------------------------------- */
.headerNav {
    display: flex;
    
}
#topNav {
    padding-top: 23%;
}

/* Logo */
/* ---------------------------------------------------- */

#logo {
    width: 500px;
}

/* Media Querys for Sizes */
/* ---------------------------------------------------- */